
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

/*footer*/

ul{
  list-style: none outside;
}
.contact{
  float: right;
}
.contact ul li:before {
  content:'';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../images/contact.png');
  margin-right: 0.1em;
}
.contact-name:before {
	background-position: 0 -29px;
}
.contact-phone:before {
	background-position: 0 -63px;
}
.contact-email:before{
	background-position: 0 5px;
}
